<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Foodfy</title>
</head>
<body>

    <header>
        <div class="menu">
            <a href="/"><img src="/logo.png" alt="foodfy logo"></a>
            <div class="menu-links">
                <a href="/sobre">Sobre</a>
                <a href="/receitas">Receitas</a>
            </div>
        </div>
    </header>

    {%block content%} {%endblock%}

        <footer>
        <div class="footer">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>
    <script src="/script.js"></script>
</body>
</html>